{% extends "base.html" %}

{% block nav %}
    {% for menu_item in nav_menu_admin %}
        <li><a href="{{ menu_item }}">{{ nav_menu_admin[menu_item] }}</a></li>
    {% endfor %}
{% endblock %}

{% block body %}

    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Admin</h2>
                <p>Business Plan</p>
            </div>
            <hr>

            <div class="section-header row gy-4">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"></path>
                        </symbol>
                    </svg>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-warning d-flex align-items-center alert-dismissible fade show"
                                     role="alert">
                                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img"
                                         aria-label="Info:">
                                        <use xlink:href="#info-fill"></use>
                                    </svg>
                                    <div> {{ message }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                aria-label="Close"></button>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
            <div class="section-header row gy-4">
                <h2>Overview</h2>
            </div>
            <div class="row gy-4">
                <h3>Mission</h3>
                <p>Coup De Foudre brings bakery and technology together. A place where customers can also experience
                    rather than buying. Our products focuses on experiencing unique and delicious tastes.</p>
            </div>
            <div class="row gy-4">
                <h3>Vision</h3>
                <p>...</p>
            </div>
            <div class="row gy-4">
                <h3>Legal and Organizational Structure</h3>
                <p>...</p>
            </div>
            <div class="row gy-4 ">
                <h3>SWOT analysis</h3>
                <div class="row">
                    <div class="col-6">
                        <h5>STRENGTHS</h5>
                        <p>affordable</p>
                        <p>new concept</p>
                        <p>can withstand health crisis (corona)</p>

                        <p>Service is better allocated</p>
                    </div>
                    <div class="col-6">
                        <h5>WEAKNESSES</h5>
                        <p>lack of knowledge of local pastry</p>
                        <p>unfamiliar brand</p>
                        <p>bigger risk for theft</p>
                        <p>no people present for inquiries</p>
                    </div>
                </div>
                <div class="row">

                    <div class="col-6">
                        <h5>OPPORTUNITIES</h5>
                        <p>technology development to make the selling process smoother</p>
                        <p>scalable without the franchise structure</p>
                        <p>partnership with famous chef</p>
                        <p></p>
                        <p></p>
                    </div>
                    <div class="col-6">
                        <h5>THREATS</h5>
                        <p>Saturated market</p>
                        <p>Local bakeries can adopt the same concept</p>
                        <p></p>
                        <p></p>
                    </div>
                </div>


            </div>
            <hr>
            <div class="section-header row gy-4">
                <h2>Finance</h2>
            </div>
            <div class="row gy-4">
                <h3>Financial Goals</h3>
                <p>1st year: 50,000,000</p>
                <p>---month 1: 2,700,000</p>
                <p>---month 2: 2,900,000</p>
                <p>---month 3: 3,100,000</p>
                <p>---month 4: 3,300,000</p>
                <p>---month 5: 3,500,000</p>
                <p>---month 6: 3,700,000</p>
                <p>---month 7: 3,900,000</p>
                <p>---month 8: 4,100,000</p>
                <p>---month 9: 4,300,000</p>
                <p>---month 10: 4,500,000</p>
                <p>---month 11: 4,700,000</p>
                <p>---month 12: 4,900,000</p>
                <p>2nd year: 60,000,000</p>
                <p>3rd year: 80,000,000</p>
            </div>
            <div class="row gy-4">
                <h3>Pricing</h3>
                <p>Lower pricing</p>
                <p>Striving to obtain a quality equal to Paris Baguette/Tous les Jours/Atelier</p>
            </div>
            <hr>
            <div class="section-header row gy-4">
                <h2>Partners</h2>
            </div>
            <div class="row gy-4">
                <h3>Suppliers</h3>
                <h4>Ingredients</h4>
                <p>https://www.jewon1986.com/</p>
                <p>https://www.coupang.com/</p>
                <p>http://m.deant.kr/index.html</p>
                <p>https://ppang.kr/</p>
                <p>https://m.bakingmon.com/</p>
                <p>https://www.cookiebebe.com</p>
                <p>Doust (생지, hard to find online)</p>
                <p>http://www.bakeplus.com/default/</p>
                <p>https://www.haessalmaroo.co.kr/</p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>

                <h4>Bake-off Products 생지</h4>
                <p>https://www.jewon1986.com/</p>
                <p>https://www.coupang.com/</p>
                <p>http://m.deant.kr/index.html</p>
                <p>https://ppang.kr/</p>
                <p>http://www.bakeplus.com/default/ (no online shopping, order by phone 031-793-0330 and email bp.cs@savencia.com)</p>
                <p></p>
                <p></p>
                <p></p>

                <h4>Packaging 포장</h4>
                <p>https://cacaopack.co.kr/</p>
                <p>https://www.coupang.com/</p>
                <p>https://impacking.com/</p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>

                <h4>Assets</h4>
                <p>https://m.dajubang.co.kr</p>
                <p>http://www.lkbakeware.com/</p>
                                <p>http://phantomkorea.com/ (deck oven, not recommended for beginning)</p>
                <p>www.daiah.com</p>
                <p>http://www.daewoo1989.com/</p>
                <p></p>



                <h4>Bakery association (education, magazine)</h4>
                <p>https://www.bakery.or.kr/</p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>

                <h4>Payment/kiosk</h4>
                <p>https://www.okpos.co.kr/</p>
                <p>https://www.posbank.com/</p>
                <p></p>
                <p></p>
                                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>

            </div>
            <hr>
            <div class="section-header row gy-4">
                <h2>Marketing</h2>
            </div>
            <div class="row gy-4">
                <h3>General</h3>
                <p>Product: love (Product is what customers feel)</p>
                <p>Commodities: bakery products, cold coffee, children drinks, gift box/set</p>
                <p>Parents</p>
            </div>
            <div class="row gy-4">
                <h3>Target market</h3>
                <p>30-50 years-old customers</p>
                <p>Local customers living in the nearby vicinity</p>
                <p>Parents</p>
            </div>
            <div class="row gy-4">
                <h3>Trends</h3>
                <p>...</p>

            </div>
            <div class="row gy-4">
                <h3>Key messages</h3>

            </div>
            <div class="row gy-4">
                <h3>Marketing activities</h3>
                <p>Recommended menu per day: 6 menus</p>
                <p>Paid advertising: Facebook/Instagram banners</p>
                <p>Promo and menu posters</p>
                <p>Signboards (if not on the 1st floor)</p>
                <p>Display banner</p>
            </div>
            <div class="row gy-4">
                <h3>Sales strategy</h3>
                <p>...</p>
            </div>
            <div class="row gy-4">
                <h3>Competition</h3>
                <p>Features Paris Baguette</p>
                <ul>
                    <li></li>
                </ul>
                <p>Features Tous Les Jours</p>
                <ul>
                    <li></li>
                </ul>
                <p>Features Atelier 05</p>
                <ul>
                    <li>Products:</li>
                    <ul>
                        <li>케이크</li>
                        <li>고구마케이크</li>
                        <li>앙버터</li>
                        <li>치즈케이크</li>
                        <li>감자 치아바타</li>
                        <li>초코생크림</li>
                        <li>올리브 치아바타</li>
                        <li>딸기무스케이크</li>
                        <li>먹물 치아바타</li>
                        <li>티라미수</li>
                        <li>마약빵</li>
                        <li>딸기생크림케이크</li>
                        <li>치즈대박이</li>
                        <li>양파 크림치즈 베이글</li>
                        <li>샌드위치</li>
                        <li>마농바게트</li>
                        <li>단호박 샌드위치</li>
                        <li>볼케이노(허니브레드)</li>
                        <li>닭가슴살 샌드위치</li>
                        <li>몽블랑</li>
                        <li>살라미 샌드위치</li>
                        <li>크루아상</li>
                        <li>호밀무화과</li>
                        <li>오끼나와</li>
                        <li>밤식빵</li>
                        <li>고구마브리오슈</li>
                        <li>크렌베리쌍빵</li>
                        <li>쑥깡빠뉴</li>
                        <li>오직어먹물찹살빵</li>
                        <li>식빵류</li>
                        <li>생과일타르트</li>
                        <li>에그타르트</li>
                        <li>갤러리</li>
                        <li>오시는</li>
                    </ul>
                </ul>
            </div>
            <div class="row gy-4">
                <h3>Strategy</h3>
                <p>Child-friendly products</p>
                <p></p>
            </div>
            <hr>
            <div class="section-header row gy-4">
                <h2>Operations</h2>
            </div>
            <div class="row gy-4">
                <h3>Open hours</h3>
                <p>...</p>
            </div>
            <div class="row gy-4">
                <h3>Work hours</h3>
                <table class="table  table-striped table-hover table-warning">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">월요일</th>
                        <th scope="col">화요일</th>
                        <th scope="col">수요일</th>
                        <th scope="col">목요일</th>
                        <th scope="col">금요일</th>
                        <th scope="col">토요일</th>
                        <th scope="col">일요일</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1:00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2:00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>3:00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>4:00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>5:00</td>
                        <td>Baking</td>
                        <td></td>
                        <td>Baking</td>
                        <td>Baking</td>
                        <td>Baking</td>
                        <td>Baking</td>
                        <td>Baking</td>
                    </tr>
                    <tr>
                        <td>6:00</td>
                        <td>Baking</td>
                        <td></td>
                        <td>Baking</td>
                        <td>Baking</td>
                        <td>Baking</td>
                        <td>Baking</td>
                        <td>Baking</td>
                    </tr>
                    <tr>
                        <td>7:00</td>
                        <td>Baking</td>
                        <td></td>
                        <td>Baking</td>
                        <td>Baking</td>
                        <td>Baking</td>
                        <td>Baking</td>
                        <td>Baking</td>
                    </tr>
                    <tr>
                        <td>8:00</td>
                        <td>Baking</td>
                        <td></td>
                        <td>Baking</td>
                        <td>Baking</td>
                        <td>Baking</td>
                        <td>Baking</td>
                        <td>Baking</td>
                    </tr>
                    <tr>
                        <td>9:00</td>
                        <td>Cleaning + inventory</td>
                        <td></td>
                        <td>Cleaning + inventory</td>
                        <td>Cleaning + inventory</td>
                        <td>Cleaning + inventory</td>
                        <td>Cleaning + inventory</td>
                        <td>Cleaning + inventory</td>
                    </tr>
                    <tr>
                        <td>10:00</td>
                        <td>Baking</td>
                        <td></td>
                        <td>Baking</td>
                        <td>Baking</td>
                        <td>Baking</td>
                        <td>Baking</td>
                        <td>Baking</td>
                    </tr>
                    <tr>
                        <td>11:00</td>
                        <td>Baking</td>
                        <td></td>
                        <td>Baking</td>
                        <td>Baking</td>
                        <td>Baking</td>
                        <td>Baking</td>
                        <td>Baking</td>
                    </tr>
                    <tr>
                        <td>12:00</td>
                        <td>Baking</td>
                        <td></td>
                        <td>Baking</td>
                        <td>Baking</td>
                        <td>Baking</td>
                        <td>Baking</td>
                        <td>Baking</td>
                    </tr>
                    <tr>
                        <td>13:00</td>
                        <td>Cleaning</td>
                        <td></td>
                        <td>Cleaning</td>
                        <td>Cleaning</td>
                        <td>Cleaning</td>
                        <td>Cleaning</td>
                        <td>Cleaning</td>
                    </tr>
                    <tr>
                        <td>14:00</td>
                        <td>Strategy</td>
                        <td></td>
                        <td>Meeting</td>
                        <td></td>
                        <td>Strategy</td>
                        <td></td>
                        <td>Meeting</td>
                    </tr>
                    <tr>
                        <td>15:00</td>
                        <td>Admin</td>
                        <td></td>
                        <td>Admin</td>
                        <td>Admin</td>
                        <td>Admin</td>
                        <td>Admin</td>
                        <td>Admin</td>
                    </tr>
                    <tr>
                        <td>16:00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>17:00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>18:00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>19:00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>20:00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>21:00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>22:00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>23:00</td>
                        <td>Close doors + Cleaning</td>
                        <td></td>
                        <td>Close doors + Cleaning</td>
                        <td>Close doors + Cleaning</td>
                        <td>Close doors + Cleaning</td>
                        <td>Close doors + Cleaning</td>
                        <td>Close doors + Cleaning</td>
                    </tr>
                    <tr>
                        <td>24:00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div class="row gy-4">
                <h3>Hygiene</h3>
                <p>Hand wash sink, mask, gloves, 요리복, hat</p>
            </div>
            <div class="row gy-4">
                <h3>Administration</h3>
                <p>...</p>
            </div>
            <div class="row gy-4">
                <h3>Security</h3>
                <p>...</p>
            </div>
            <div class="row gy-4">
                <h3>Payment</h3>
                <p>...</p>
            </div>
            <div class="row gy-4">
                <h3>Tax</h3>
                <p>...</p>
            </div>
            <div class="row gy-4">
                <h3>Accountant</h3>
                <p>...</p>
            </div>

            <hr>

        </div>
    </section><!-- End About Us Section -->

{% endblock %}


