{% extends "base.html" %}
{% block title %}문의 주세요!! - {{ msgid['title'] }}{% endblock %}

{% block body %}

    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h2>Cost Calculation Edit</h2>
                <p>Edit your products, prices and more</p>
            </div>
            <hr>
            <div class="section-header row gy-4">
                <h4>메시지 (사이트)</h4>
                <div class="overflow-scroll max-height-table" >
                    <input class="form-control" id="productSearch" type="text" placeholder="Search..">
                    <table class="table table-striped table-hover" id="contact-table">
                        <thead>
                        <tr class="text-capitalize">
                            <th scope="col">해결되었나요?</th>
                            <th scope="col">시간</th>
                            <th scope="col">성명</th>
                            <th scope="col">메시지</th>
                            <th scope="col">이메일주소</th>
                            <th scope="col">주소</th>
                            <th scope="col">전화번호</th>
                            <th scope="col">제목</th>


                        </tr>
                        </thead>
                        <tbody>
                        {% for row in contact_info %}
                            <tr class="table-success">
                                {% if row[8] %}
                                    <td>
                                        <button class="btn btn-success" data-bs-toggle="modal"
                                                data-bs-target="#issue_resolved_modal_{{ row [0] }}"
                                                type="button"><i class="bi bi-check-square-fill"></i></button>
                                    </td>
                                {% else %}
                                    <td>
                                        <button class="btn btn-danger" data-bs-toggle="modal"
                                                data-bs-target="#issue_resolved_modal_{{ row [0] }}"
                                                type="button"><i class="bi bi-check-square-fill"></i></button>
                                    </td>
                                {% endif %}
                                <td>{{ row[7] }}</td>
                                <td>{{ row[1] }}</td>
                                <td>{{ row[6] }}</td>
                                <td>{{ row[2] }}</td>
                                <td>{{ row[3] }}</td>
                                <td>{{ row[4] }}</td>
                                <td>{{ row[5] }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <script>
        $(document).ready(function () {
            $("#productSearch").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#contact-table tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
{% endblock %}




