{% extends "base.html" %}

{% block title %}Register Product - Price - Recipe - {{ msgid['title'] }}{% endblock %}

{% block body %}

    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Admin</h2>
                <p>Registration</p>
                <p>Missing prices for ingredients: {{ missing_prices_ingredients }}</p>
                <p>Missing prices for packaging: {{ missing_prices_packaging }}</p>

            </div>
            <hr>
            <!-- Modal view Buttons -->
            <div class="row gy-4">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"></path>
                        </symbol>
                    </svg>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-warning d-flex align-items-center alert-dismissible fade show"
                                     role="alert">
                                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img"
                                         aria-label="Info:">
                                        <use xlink:href="#info-fill"></use>
                                    </svg>
                                    <div> {{ message }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                aria-label="Close"></button>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                <button class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#price_ingredient_modal_add"
                        type="button">ADD PRICE FOR INGREDIENT
                </button>
                <button class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#price_packaging_modal_add"
                        type="button">ADD PRICE FOR PACKAGING
                </button>
                <button class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#ingredient_modal_add"
                        type="button">ADD INGREDIENT
                </button>
                <button class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#packaging_modal_add"
                        type="button">ADD PACKAGING
                </button>
                <button class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#product_modal_add"
                        type="button">ADD PRODUCT
                </button>
                <button class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#recipe_modal_add"
                        type="button">ADD RECIPE
                </button>
            </div>
        </div>
    </section>
    <!-- Modal PriceIngredients Start -->
    <div class="modal fade" id="price_ingredient_modal_add" tabindex="-1" role="dialog"
         aria-labelledby="priceIngredientModalLabelAdd"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="priceIngredientModalLabelAdd">ADD PRICE FOR INGREDIENT</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="/cost_calculation">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="ingredient_add" class="form-label">Choose your ingredient from the list:</label>
                            <input class="form-control" list="ingredients" name="ingredientid" id="ingredient_add">
                            <datalist id="ingredients">
                                {% for item in ingredients %}
                                    <option value="{{ item[0] }}">{{ item[1] }} ({{ item[2] }})</option>
                                {% endfor %}
                            </datalist>
                        </div>
                        <div class="mb-3">
                            <label for="ingredientPrice" class="form-label">Price</label>
                            <input type="text" class="form-control" id="ingredientPrice" name="price"
                                   value="">

                        </div>
                        <div class="mb-3">
                            <label for="ingredientWeight" class="form-label">Weight</label>
                            <input type="text" class="form-control" id="ingredientWeight"
                                   name="weight_in_gram" value="">
                        </div>
                        <div class="mb-3">
                            <label for="ingredientDate" class="form-label">Date</label>
                            <input type="date" class="form-control" id="ingredientDate"
                                   name="date" value="">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" name="price_ingredient_add_button"
                                value="">ADD PRICE FOR INGREDIENT
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal Price Ingredients End -->
    <!-- Modal Price Packaging Start -->
    <div class="modal fade" id="price_packaging_modal_add" tabindex="-1" role="dialog"
         aria-labelledby="pricePackagingModalLabelAdd"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="pricePackagingModalLabelAdd">ADD PRICE FOR PACKAGING</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="/cost_calculation">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="packaging_add" class="form-label">Choose your packaging from the list:</label>
                            <input class="form-control" list="packaging" name="packagingid" id="packaging_add">
                            <datalist id="packaging">
                                {% for item in packaging %}
                                    <option value="{{ item[0] }}">{{ item[1] }} ({{ item[2] }})</option>
                                {% endfor %}
                            </datalist>
                        </div>
                        <div class="mb-3">
                            <label for="packagingUnit" class="form-label">Price Per Unit</label>
                            <input type="text" class="form-control" id="packagingUnit" name="price_per_unit"
                                   value="">

                        </div>
                        <div class="mb-3">
                            <label for="packagingDate" class="form-label">Date</label>
                            <input type="date" class="form-control" id="packagingDate"
                                   name="date" value="">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" name="price_packaging_add_button"
                                value="">ADD PRICE FOR PACKAGING
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal Price Packaging End -->
    <!-- Modal Ingredient Start -->
    <div class="modal fade" id="ingredient_modal_add" tabindex="-1" role="dialog"
         aria-labelledby="ingredientModalLabelAdd"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ingredientModalLabelAdd">ADD INGREDIENT</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="/cost_calculation">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="input_english" class="form-label">English</label>
                            <input type="text" class="form-control" id="input_english" name="english"
                                   value="">
                        </div>
                        <div class="mb-3">
                            <label for="input_korean" class="form-label">Korean</label>
                            <input type="text" class="form-control" id="input_korean" name="korean"
                                   value="">
                        </div>
                        <hr>
                        <div class="mb-3">
                            <label for="ingredientPrice" class="form-label">Price</label>
                            <input type="text" class="form-control" id="ingredientPrice" name="price"
                                   value="">

                        </div>
                        <div class="mb-3">
                            <label for="ingredientWeight" class="form-label">Weight</label>
                            <input type="text" class="form-control" id="ingredientWeight"
                                   name="weight_in_gram" value="">
                        </div>
                        <div class="mb-3">
                            <label for="ingredientDate" class="form-label">Date</label>
                            <input type="date" class="form-control" id="ingredientDate"
                                   name="date" value="">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" name="ingredients_add_button"
                                value="">ADD INGREDIENT
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal Ingredients End -->
    <!-- Modal Packaging Start -->
    <div class="modal fade" id="packaging_modal_add" tabindex="-1" role="dialog"
         aria-labelledby="packagingModalLabelAdd"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="packagingModalLabelAdd">ADD PACKAGING</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="/cost_calculation">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="input_english" class="form-label">English</label>
                            <input type="text" class="form-control" id="input_english" name="english"
                                   value="">
                        </div>
                        <div class="mb-3">
                            <label for="input_korean" class="form-label">Korean</label>
                            <input type="text" class="form-control" id="input_korean" name="korean"
                                   value="">
                        </div>
                        <hr>
                        <div class="mb-3">
                            <label for="packagingUnit" class="form-label">Price Per Unit</label>
                            <input type="text" class="form-control" id="packagingUnit" name="price_per_unit"
                                   value="">

                        </div>
                        <div class="mb-3">
                            <label for="packagingDate" class="form-label">Date</label>
                            <input type="date" class="form-control" id="packagingDate"
                                   name="date" value="">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" name="packaging_add_button"
                                value="">ADD PACKAGING
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal Packaging End -->
    <!-- Modal Product Start -->
    <div class="modal fade" id="product_modal_add" tabindex="-1" role="dialog"
         aria-labelledby="productModalLabelAdd"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productModalLabelAdd">ADD PRODUCT</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="/cost_calculation">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="input_english" class="form-label">English</label>
                            <input type="text" class="form-control" id="input_english" name="english"
                                   value="">
                        </div>
                        <div class="mb-3">
                            <label for="input_korean" class="form-label">Korean</label>
                            <input type="text" class="form-control" id="input_korean" name="korean"
                                   value="">
                        </div>
                        <div class="mb-3">
                            <label for="input_weight_in_gram_per_product" class="form-label">Weight</label>
                            <input type="text" class="form-control" id="input_weight_in_gram_per_product"
                                   name="weight_in_gram_per_product" value="">
                        </div>
                        <div class="mb-3">
                            <label for="inputUnit" class="form-label">Unit</label>
                            <input type="text" class="form-control" id="inputUnit"
                                   name="unit" value="">
                        </div>
                        <div class="mb-3">
                            <label for="inputImage" class="form-label">Image</label>
                            <input type="text" class="form-control" id="inputImage"
                                   name="image" value=".jpg">
                        </div>
                        <div class="mb-3">
                            <label for="type" class="form-label">Type</label>
                            <select class="form-select" id="type" type="type" name="type">
                                <option value="Bread" selected>Bread</option>
                                <option value="Pastry">Pastry</option>
                                <option value="Patisserie">Patisserie</option>
                                <option value="Cookies">Cookies</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="currently_selling" class="form-label">Currently Selling?</label>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" name="currently_selling"
                                       id="currently_selling" checked>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="best_product" class="form-label">Best product?</label>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" name="best_product"
                                       id="best_product" checked>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="Korean_description" class="form-label">Korean
                                Description</label>
                            <textarea type="text" class="form-control" id="Korean_description"
                                      name="Korean_description"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="English_description" class="form-label">English
                                Description</label>
                            <textarea type="text" class="form-control" id="English_description"
                                      name="English_description"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="QR" class="form-label">QR code number</label>
                            <input type="number" class="form-control" id="QR" name="QR"
                                   value="">
                        </div>
                        <div class="mb-3">
                            <label for="selling_price_lv" class="form-label">selling_price_lv</label>
                            <input type="number" class="form-control" id="selling_price_lv" name="selling_price_lv"
                                   value="">
                        </div>
                        <div class="mb-3">
                            <label for="criteria_lv" class="form-label">criteria_lv</label>
                            <input type="number" class="form-control" id="criteria_lv" name="criteria_lv" value="">
                        </div>
                        <div class="mb-3">
                            <label for="selling_price_mv" class="form-label">selling_price_mv</label>
                            <input type="number" class="form-control" id="selling_price_mv" name="selling_price_mv"
                                   value="">
                        </div>
                        <div class="mb-3">
                            <label for="criteria_mv" class="form-label">criteria_mv</label>
                            <input type="number" class="form-control" id="criteria_mv" name="criteria_mv" value="">
                        </div>
                        <div class="mb-3">
                            <label for="selling_price_hv" class="form-label">selling_price_hv</label>
                            <input type="number" class="form-control" id="selling_price_hv" name="selling_price_hv"
                                   value="">
                        </div>
                        <div class="mb-3">
                            <label for="criteria_hv" class="form-label">criteria_hv</label>
                            <input type="number" class="form-control" id="criteria_hv" name="criteria_hv" value="">
                        </div>
                        <div class="mb-3">
                            <label for="work_time_min" class="form-label">work_time_min</label>
                            <input type="number" class="form-control" id="work_time_min" name="work_time_min" value="">
                        </div>
                        <div class="mb-3"
                        ><label for="estimated_items" class="form-label">estimated_items</label>
                            <input type="number" class="form-control" id="estimated_items" name="estimated_items"
                                   value="">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" name="product_add_button"
                                value="">ADD PRODUCT
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <!-- Modal Product End -->
    <!-- Modal Recipe Start -->
    <div class="modal fade" id="recipe_modal_add" tabindex="-1" role="dialog"
         aria-labelledby="recipeModalLabelAdd"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="recipeModalLabelAdd">ADD RECIPE</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="/cost_calculation">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="productid" class="form-label">Choose your product from the
                                list:</label>
                            <input class="form-control" list="productid_list" name="productid" id="productid">
                            <datalist id="productid_list">
                                {% for item in products %}
                                    <option value="{{ item[0] }}">{{ item[1] }} ({{ item[2] }})</option>
                                {% endfor %}
                            </datalist>
                        </div>
                        <hr>

                        <div class="mb-3">
                            <label for="ingredientid" class="form-label">Choose an ingredient from the
                                list:</label>
                            <input class="form-control" list="ingredientid_list" id="ingredientid">
                            <datalist id="ingredientid_list">
                                {% for item in ingredients %}
                                    <option value="{{ item[0] }}">{{ item[1] }} ({{ item[2] }})</option>
                                {% endfor %}
                            </datalist>
                        </div>
                        <div class="mb-3">
                            <label for="input_weight_in_gram" class="form-label">Weight</label>
                            <input type="text" class="form-control" id="input_weight_in_gram" value="">
                        </div>
                        <button class="btn btn-success" type="button" id="ingredientProductAdd">ADD INGREDIENT TO RECIPE
                        </button>

                        <div class="mb-3">
                            <label for="packagingid" class="form-label">Choose a type of packaging from the
                                list:</label>
                            <input class="form-control" list="packagingid_list" id="packagingid">
                            <datalist id="packagingid_list">
                                {% for item in packaging %}
                                    <option value="{{ item[0] }}">{{ item[1] }} ({{ item[2] }})</option>
                                {% endfor %}
                            </datalist>
                        </div>
                        <button class="btn btn-success" type="button" id="packagingProductAdd">ADD PACKAGING TO RECIPE
                        </button>
                        <div id="ingredientsList"><h5>INGREDIENTS</h5></div>
                        <div id="packagingList"><h5>PACKAGING</h5></div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" name="recipe_add_button"
                                value="">ADD TO RECIPE
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal Recipe End -->
{% endblock %}
{% block endbody %}
    <script src="/static/js/admin.js "></script>{% endblock %}


