{% extends "base.html" %}

{% block nav %}
    <li><a href="#hero">{{ msgid['home_title'] }}</a></li>
    <li><a href="#about">{{ msgid['about_title'] }}</a></li>
    <li><a href="#clients">{{ msgid['suppliers_title'] }}</a></li>
    <li><a href="#portfolio">{{ msgid['product_title'] }}</a></li>
    <li><a href="#contact">{{ msgid['contact_title'] }}</a></li>
    <li><a href="/register_membership">{{ msgid['membership_points_title'] }}</a></li>
    <li><a href="" class="check-membership-points">{{ msgid['membership_points_title'] }}</a></li>
{% endblock %}

{% block body %}

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero">
        <div class="container position-relative">
            <div class="row gy-5" data-aos="fade-in">
                <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
                    <h2><span>{{ msgid['title'] }} </span></h2>
                    <p></p>
                    <div class="d-flex justify-content-center justify-content-lg-start">
                        <a href="https://www.youtube.com/watch?v=9i1G8i_Q-Lk&ab_channel=DessertsbyDesign"
                           class="glightbox btn-watch-video d-flex align-items-center"><i
                                class="bi bi-play-circle"></i><span>Watch Video</span></a>
                    </div>

                </div>
                <div class="col-lg-6 order-1 order-lg-2">
                    {#          <img src="/static/img/croissant.svg" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">#}
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero Section -->

    <main id="main">

        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2>{{ msgid['about_title'] }}</h2>
                    <p>{{ msgid['about_content'] }}</p>
                </div>

                <div class="row gy-4">
                    <div class="col-lg-6">
                        <h3>{{ msgid['about_subtitle_one'] }}</h3>
                        <img src="/img/products/about.jpg" class="img-fluid rounded-4 mb-4" alt="">
                        <p>{{ msgid['about_subcontent_one'] }} </p>
                        <p>{{ msgid['about_subcontent_two'] }}</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="content ps-0 ps-lg-5">
                            <p class="fst-italic">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut
                                labore et dolore
                                magna aliqua.
                            </p>
                            <ul>
                                <li><i class="bi bi-check-circle-fill"></i> Ullamco laboris nisi ut aliquip ex ea
                                    commodo
                                    consequat.
                                </li>
                                <li><i class="bi bi-check-circle-fill"></i> Duis aute irure dolor in reprehenderit in
                                    voluptate velit.
                                </li>
                                <li><i class="bi bi-check-circle-fill"></i> Ullamco laboris nisi ut aliquip ex ea
                                    commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate trideta
                                    storacalaperda
                                    mastiro dolore eu fugiat nulla pariatur.
                                </li>
                            </ul>
                            <p>
                                Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                reprehenderit in voluptate
                                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident
                            </p>

                            <div class="position-relative mt-4">
                                <img src="/img/products/about-2.jpg" class="img-fluid rounded-4" alt="">
                                <a href="https://www.youtube.com/watch?v=9i1G8i_Q-Lk&ab_channel=DessertsbyDesign"
                                   class="glightbox play-btn"></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End About Us Section -->
        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio sections-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2>{{ msgid['product_title'] }}</h2>
                    <p>{{ msgid['product_intro'] }}</p>
                </div>

                <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry"
                     data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">

                    <div>
                        <ul class="portfolio-flters">
                            <li data-filter="*" class="filter-active">{{ msgid['All'] }}</li>
                            <li data-filter=".filter-app">{{ msgid['Bread'] }}</li>
                            <li data-filter=".filter-product">{{ msgid['Viennoiserie'] }}</li>
                            <li data-filter=".filter-branding">{{ msgid['Patisserie'] }}</li>
                            <li data-filter=".filter-books">{{ msgid['Cookies'] }}</li>
                        </ul><!-- End Portfolio Filters -->
                    </div>

                    <div class="row gy-4 portfolio-container">

                        <div class="col-xl-4 col-md-6 portfolio-item filter-app">
                            <div class="portfolio-wrap">
                                <a href="/static/img/portfolio/app-1.jpg" data-gallery="portfolio-gallery-app"
                                   class="glightbox"><img src="/static/img/portfolio/app-1.jpg" class="img-fluid"
                                                          alt=""></a>
                                <div class="portfolio-info">
                                    <h4>App 1</h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                                </div>
                            </div>
                        </div><!-- End Portfolio Item -->

                        <div class="col-xl-4 col-md-6 portfolio-item filter-product">
                            <div class="portfolio-wrap">
                                <a href="/static/img/portfolio/product-1.jpg" data-gallery="portfolio-gallery-app"
                                   class="glightbox"><img src="/static/img/portfolio/product-1.jpg" class="img-fluid"
                                                          alt=""></a>
                                <div class="portfolio-info">
                                    <h4>Product 1</h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                                </div>
                            </div>
                        </div><!-- End Portfolio Item -->

                        <div class="col-xl-4 col-md-6 portfolio-item filter-branding">
                            <div class="portfolio-wrap">
                                <a href="/img/products/eclair2.jpg" data-gallery="portfolio-gallery-app"
                                   class="glightbox"><img
                                        src="/img/products/eclair2.jpg" class="img-fluid" alt=""></a>
                                <div class="portfolio-info">
                                    <h4>_{{ "Eclair" }}</h4>
                                    <p>_{{ "Delicious French eclair with fresh cream" }}</p>
                                </div>
                            </div>
                        </div><!-- End Portfolio Item -->

                        <div class="col-xl-4 col-md-6 portfolio-item filter-books">
                            <div class="portfolio-wrap">
                                <a href="/img/products/macaron.jpg" data-gallery="portfolio-gallery-app"
                                   class="glightbox"><img src="/img/products/macaron.jpg" class="img-fluid" alt=""></a>
                                <div class="portfolio-info">
                                    <h4>_{{ "Macaron" }}</h4>
                                    <p>_{{ "Macarons in various colors and tastes" }}</p>
                                </div>
                            </div>
                        </div><!-- End Portfolio Item -->

                        <div class="col-xl-4 col-md-6 portfolio-item filter-books">
                            <div class="portfolio-wrap">
                                <a href="/img/products/choco-macaron-1.jpg" data-gallery="portfolio-gallery-app"
                                   class="glightbox"><img src="/img/products/choco-macaron-2.jpg" class="img-fluid"
                                                          alt=""></a>
                                <div class="portfolio-info">
                                    <h4>{{ "Choco Macaron" }}</h4>
                                    <p>_{{ "Brown macaron with ganache" }}</p>
                                </div>
                            </div>
                        </div><!-- End Portfolio Item -->

                        <div class="col-xl-4 col-md-6 portfolio-item filter-branding">
                            <div class="portfolio-wrap">
                                <a href="/img/products/strawberry-bavarois.jpg" data-gallery="portfolio-gallery-app"
                                   class="glightbox"><img src="/img/products/strawberry-bavarois.jpg" class="img-fluid"
                                                          alt=""></a>
                                <div class="portfolio-info">
                                    <h4>_{{ "Strawberry bavarois" }}
                                    </h4>
                                    <p>_{{ "Bavarois made with fresh strawberries and almond biscuit" }}</p>
                                </div>
                            </div>
                        </div><!-- End Portfolio Item -->
                        <div class="col-xl-4 col-md-6 portfolio-item filter-branding">
                            <div class="portfolio-wrap">
                                <a href="/img/products/choco-cake-3.jpg" data-gallery="portfolio-gallery-app"
                                   class="glightbox"><img src="/img/products/choco-cake-2.jpg" class="img-fluid"
                                                          alt=""></a>
                                <div class="portfolio-info">
                                    <h4>_{{ "Choco cake" }}
                                    </h4>
                                    <p>)_{{ "Chocolate cream and soft chocolate biscuit" }}</p>
                                </div>
                            </div>
                        </div><!-- End Portfolio Item -->
                        <div class="col-xl-4 col-md-6 portfolio-item filter-branding">
                            <div class="portfolio-wrap">
                                <a href="/img/products/rollcake-piece.jpg" data-gallery="portfolio-gallery-app"
                                   class="glightbox"><img src="/img/products/rollcake-2.jpg" class="img-fluid"
                                                          alt=""></a>
                                <div class="portfolio-info">
                                    <h4>Roll cake
                                    </h4>
                                    <p>Soft biscuit with jam (apricot)</p>
                                </div>
                            </div>
                        </div><!-- End Portfolio Item -->
                    </div><!-- End Portfolio Container -->
                </div>

            </div>
        </section><!-- End Portfolio Section -->
        <!-- ======= Clients Section ======= -->
        <section id="clients" class="clients">
            <div class="container" data-aos="zoom-out">
                <div class="section-header">
                    <h2>Our Suppliers</h2>
                    <p></p>
                </div>
                <div class="clients-slider swiper">
                    <div class="swiper-wrapper align-items-center">
                        <div class="swiper-slide"><img src="/static/img/clients/client-1.png" class="img-fluid" alt="">
                        </div>
                        <div class="swiper-slide"><img src="/static/img/clients/client-2.png" class="img-fluid" alt="">
                        </div>
                        <div class="swiper-slide"><img src="/static/img/clients/client-3.png" class="img-fluid" alt="">
                        </div>
                        <div class="swiper-slide"><img src="/static/img/clients/client-4.png" class="img-fluid" alt="">
                        </div>
                        <div class="swiper-slide"><img src="/static/img/clients/client-5.png" class="img-fluid" alt="">
                        </div>
                        <div class="swiper-slide"><img src="/static/img/clients/client-6.png" class="img-fluid" alt="">
                        </div>
                        <div class="swiper-slide"><img src="/static/img/clients/client-7.png" class="img-fluid" alt="">
                        </div>
                        <div class="swiper-slide"><img src="/static/img/clients/client-8.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Clients Section -->


        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact sections-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2>Contact</h2>
                    <p></p>
                </div>

                <div class="row gx-lg-0 gy-4">

                    <div class="col-lg-4">

                        <div class="info-container d-flex flex-column align-items-center justify-content-center">
                            <div class="info-item d-flex">
                                <i class="bi bi-geo-alt flex-shrink-0"></i>
                                <div>
                                    <h4>{{ msgid['address_title'] }}:</h4>
                                    <p>{{ msgid['address'] }}</p>
                                </div>
                            </div><!-- End Info Item -->

                            <div class="info-item d-flex">
                                <i class="bi bi-envelope flex-shrink-0"></i>
                                <div>
                                    <h4>Email:</h4>
                                    <p>thorbendhaenenstd@gmail.com</p>
                                </div>
                            </div><!-- End Info Item -->

                            <div class="info-item d-flex">
                                <i class="bi bi-phone flex-shrink-0"></i>
                                <div>
                                    <h4>Call:</h4>
                                    <p>010-4887-8249</p>
                                </div>
                            </div><!-- End Info Item -->

                            <div class="info-item d-flex">
                                <i class="bi bi-clock flex-shrink-0"></i>
                                <div>
                                    <h4>Open Hours:</h4>
                                    <p>Tue-Sun: 24h (closed from Monday 7AM till Tuesday 7AM)</p>
                                </div>
                            </div><!-- End Info Item -->
                        </div>

                    </div>

                    <div class="col-lg-8">
                        <form action="/" method="post" role="form" class="php-email-form"
                              id="contact_form">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name"
                                           placeholder="{{ msgid['name'] }}"
                                           required><span></span>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="email" class="form-control" name="email" id="email"
                                           placeholder="{{ msgid['email'] }}"><span></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="address" class="form-control" id="address"
                                           placeholder="{{ msgid['address_title'] }}"><span></span>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="tel" class="form-control" name="phone" id="phone"
                                           placeholder="{{ msgid['phone_number'] }}" required><span></span>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" id="subject"
                                       placeholder="{{ msgid['subject'] }}"
                                       required><span></span>
                            </div>
                            <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="7" id="message"
                                      placeholder="{{ msgid['message'] }}"
                                      required></textarea><span></span>
                            </div>
                            <div class="my-3">
                                <div class="loading">{{ msgid['loading'] }}</div>
                                <div class="error-message">{{ msgid['contact-form-error'] }}</div>
                                <div class="sent-message">{{ msgid['success_contact_submission'] }}</div>
                            </div>
                            <div class="text-center">
                                <button type="button"
                                        id="contact_submit_button">{{ msgid['send_message_button'] }}</button>
                            </div>
                        </form>
                    </div><!-- End Contact Form -->

                </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->
{% endblock %}

{% block footer %}

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-info">
                <a href="/" class="logo d-flex align-items-center">
                    <span>Coup De Foudre</span>
                </a>
                <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita
                    valies
                    darta donna mare fermentum iaculis eu non diam phasellus.</p>
                {#          <div class="social-links d-flex mt-4">#}
                {#            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>#}
                {#            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>#}
                {#            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>#}
                {#            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>#}
                {#          </div>#}
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Terms of service</a></li>
                    <li><a href="#">Privacy policy</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4>{{ msgid['product_title'] }}</h4>
                <ul>
                    <li><a href="#">Eclairs</a></li>
                    <li><a href="#">Macarons</a></li>
                    <li><a href="#">Vienoisserie</a></li>
                    <li><a href="#">Bread</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                <h4>Contact Us</h4>
                <p>
                    101ho, 11-48, Wonsutaek-ro 32beon-gil <br>
                    Guri-si, Gyeongi-do, 11932<br>
                    South Korea <br><br>
                    <strong>Phone:</strong> 010-4887-8249<br>
                    <strong>Email:</strong> thorbendhaenenstd@gmail.com<br>
                </p>

            </div>

        </div>
    </div>
{% endblock %}
{% block endbody %}
<script src="{{ url_for('static', filename='js/contact_form.js') }}"></script>

{% endblock %}