{% extends "base.html" %}
{% block title %}{{ msgid['title'] }}{% endblock %}

{% block body %}

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero">
        <div class="container position-relative">
            <div class="row gy-5" data-aos="fade-in">
                <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
                    <h2><span>{{ msgid['title_brand'] | safe }} </span></h2>
                    <p></p>
                    <div class="d-flex justify-content-center justify-content-lg-start">
                        <a href="/static/img/map.JPG"
                           class="glightbox btn-open-map d-flex align-items-center"><i
                                class="bi bi-geo-alt"></i><span>{{ msgid['open_map'] | safe }}</span></a>
                    </div>

                </div>
                <div class="col-lg-6 order-1 order-lg-2">
                    {#          <img src="/static/img/croissant.svg" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">#}
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero Section -->
    <main id="main">

        <section id="news" class="news">
            <div class="container" data-aos="fade-up">
                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        {% set slidenumber = [] %}{% for news_article in news_articles %}{% if news_article[11] %}
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="{{ slidenumber|length }}" {% if news_article[9] %}class="active" aria-current="true"{% endif %} aria-label="Slide {{ slidenumberslidenumbe|length }}"></button>
                            {% set __ = slidenumber.append(1) %} {% endif %}{% endfor %}
                    </div>
                    <div class="carousel-inner">
                        {% for news_article in news_articles %}{% if news_article[11] %}{% if session_name == 'ko_KR' %}
                                    <div class="carousel-item {% if news_article[9] %}active{% endif %}"
                                         data-bs-interval="{{ news_article[10] | safe }}">
                                        <div>
                                            <div class="section-header">
                                                <h2>{{ news_article[2] | safe }}</h2>
                                                <h4>{{ news_article[4] | safe }}</h4>
                                                <p>{{ news_article[6] | safe }}</p>{% if msgid['news_image'] != "" %}
                                                    <img src="/static/img/promo/{{ news_article[8] | safe }}"
                                                         alt=""/>{% endif %}
                                                <div class="d-flex justify-content-center">
                                                    <a href="/static/img/promo/{{ news_article[7] | safe }}"
                                                       class="glightbox btn-see-image d-flex align-items-center"><span>{{ msgid['view_more'] | safe }}</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>{% else %}
                                    <div class="carousel-item {% if news_article[9] %}active{% endif %}"
                                         data-bs-interval="{{ news_article[10] | safe }}">
                                        <div>
                                            <div class="section-header">
                                                <h2>{{ news_article[2] | safe }}</h2>
                                                <h4>{{ news_article[4] | safe }}</h4>
                                                <p>{{ news_article[6] | safe }}</p>
                                                {% if msgid['news_image'] != "" %}
                                                    <img src="/static/img/promo/{{ news_article[8] | safe }}"
                                                         alt=""/>{% endif %}
                                                <div class="d-flex justify-content-center">
                                                    <a href="/static/img/promo/{{ news_article[7] | safe }}"
                                                       class="glightbox btn-see-image d-flex align-items-center"><span>{{ msgid['view_more'] | safe }}</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>{% endif %}{% endif %}{% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>
        </section><!-- End About Us Section -->
        <!-- ======= Best Product Section ======= -->
        <section id="best-product" class="best-product sections-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2>{{ msgid['best_product_title'] | safe }}</h2>
                    <p>{{ msgid['best_product_intro'] | safe }}</p>
                </div>

                <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry"
                     data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">

                    <div class="row gy-4 portfolio-container">{% for product in products %}
                            <div class="col-xl-4 col-md-6 portfolio-item filter-product ">
                                <div class="portfolio-wrap">
                                    <a href="/static/img/products/{{ product[5] }}"
                                       data-gallery="portfolio-gallery-app"
                                       class="glightbox"><img src="/static/img/products/{{ product[5] }}"
                                                              class="img-fluid"
                                                              alt="{{ product[5] }}"></a>
                                    <div class="portfolio-info">{% if session_name == 'ko_KR' %}
                                            <h4>{{ product[2] | safe }}</h4>
                                            <p>{{ product[9] | safe }}</p>{% else %}
                                            <h4>{{ product[1] | safe }}</h4>
                                            <p>{{ product[10] | safe }}</p>{% endif %}
                                    </div>
                                </div>
                            </div><!-- End Portfolio Item -->{% endfor %}
                    </div><!-- End Portfolio Container -->

                    <div class="best-product-more d-flex justify-content-center mt-5">
                        <a href="/products"
                           class="d-flex align-items-center"><span>{{ msgid['view_more'] | safe }}</span></a>
                    </div>
                </div>

            </div>
        </section><!-- End Portfolio Section -->
        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2>{{ msgid['about_title'] | safe }}</h2>
                    <p>{{ msgid['about_content'] | safe }}</p>
                </div>

                <div class="row gy-4">
                    <div class="col-lg-6">
                        <h3>{{ msgid['about_subtitle_one'] | safe }}</h3>
                        <img src="/static/img/products/logo2.png" class="img-fluid rounded-4 mb-4" alt="">
                        <p>{{ msgid['about_subcontent_one'] | safe }} </p>
                        <p>{{ msgid['about_subcontent_two'] | safe }}</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="content ps-0 ps-lg-5">
                            <p class="fst-italic">
                                {{ msgid['about_subcontent_three'] | safe }}
                            </p>
                            {#                            <ul>#}
                            {#                                <li><i class="bi bi-check-circle-fill"></i> #}
                            {#                                </li>#}
                            {#                                <li><i class="bi bi-check-circle-fill"></i> Duis aute irure dolor in reprehenderit in#}
                            {#                                    voluptate velit.#}
                            {#                                </li>#}
                            {#                                <li><i class="bi bi-check-circle-fill"></i> Ullamco laboris nisi ut aliquip ex ea#}
                            {#                                    commodo#}
                            {#                                    consequat. Duis aute irure dolor in reprehenderit in voluptate trideta#}
                            {#                                    storacalaperda#}
                            {#                                    mastiro dolore eu fugiat nulla pariatur.#}
                            {#                                </li>#}
                            {#                            </ul>#}
                            <p>
                                {{ msgid['about_subcontent_four'] | safe }}
                            </p>
                            <p>
                                {{ msgid['about_subcontent_five'] | safe }}
                            </p>
                            <div class="position-relative mt-4">
                                <img src="/static/img/products/choco-cake-1.jpg" class="img-fluid rounded-4" alt="">
                                {#                                <a href="/static/img/products/choco-cake-1.jpg"#}
                                {#                                   class="glightbox play-btn"></a>#}

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End About Us Section -->
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact sections-bg">
            <div class="container" data-aos="fade-up">
                <div class="section-header">
                    <h2>{{ msgid['contact_title'] | safe }}</h2>
                    <p>{{ msgid['contact_us_subtitle'] | safe }}</p>
                </div>
                <div class="row gx-lg-0 gy-4">
                    <div class="col-lg-4">
                        <div class="info-container d-flex flex-column align-items-center justify-content-center">
                            <div class="info-item d-flex">
                                <i class="bi bi-geo-alt flex-shrink-0"></i>
                                <div>
                                    <h4>{{ msgid['address_title'] | safe }}:</h4>
                                    <p>{{ msgid['address'] | safe }}</p>
                                </div>
                            </div><!-- End Info Item -->

                            <div class="info-item d-flex">
                                <i class="bi bi-envelope flex-shrink-0"></i>
                                <div>
                                    <h4>{{ msgid['email'] | safe }}:</h4>
                                    <p>thorbendhaenenstd@gmail.com</p>
                                </div>
                            </div><!-- End Info Item -->
                            <div class="info-item d-flex">
                                <i class="bi bi-phone flex-shrink-0"></i>
                                <div>
                                    <h4>{{ msgid['phone_number'] | safe }}:</h4>
                                    <p>010-4887-8249</p>
                                </div>
                            </div><!-- End Info Item -->
                            <div class="info-item d-flex">
                                <i class="bi bi-clock flex-shrink-0"></i>
                                <div>
                                    <h4>{{ msgid['open_hours_title'] | safe }}:</h4>
                                    <p>{{ msgid['open_hours'] | safe }}</p>
                                </div>
                            </div><!-- End Info Item -->
                        </div>

                    </div>
                    <div class="col-lg-8">
                        <form action="/" method="post" role="form" class="php-email-form"
                              id="contact_form">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    {{ contact_form.name(class="form-control", id="name", placeholder=msgid['name'] + "*") }}
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    {{ contact_form.email(class="form-control", id="email", placeholder=msgid['email'] + "*") }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    {{ contact_form.address(class="form-control", id="address", placeholder=msgid['address_title']) }}
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    {{ contact_form.phone(class="form-control", id="phone", placeholder=msgid['phone_number'] + "*") }}
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                {{ contact_form.subject(class="form-control", id="subject", placeholder=msgid['subject'] + "*") }}
                            </div>
                            <div class="form-group mt-3">
                                {{ contact_form.message(class="form-control", id="message",  rows="7", placeholder=msgid['message'] + "*") }}
                            </div>
                            <div class="my-3">
                                <div class="loading">{{ msgid['loading'] | safe }}</div>
                                <div class="error-message">{{ msgid['contact-form-error'] | safe }}</div>
                                <div class="sent-message">{{ msgid['success_contact_submission'] | safe }}</div>
                            </div>
                            <div class="text-center">
                                <button type="button"
                                        id="contact_submit_button">{{ msgid['send_message_button'] | safe }}</button>
                            </div>
                        </form>
                    </div><!-- End Contact Form -->
                </div>
            </div>
        </section><!-- End Contact Section -->


        <!-- ======= Clients Section ======= -->
        <section id="clients" class="clients">
            <div class="container" data-aos="zoom-out">
                <div class="section-header">
                    <h2>{{ msgid['suppliers_title'] | safe }}</h2>
                    <p></p>
                </div>
                <div class="clients-slider swiper">
                    <div class="swiper-wrapper align-items-center">
                        <div class="swiper-slide"><img src="/static/img/clients/client-1.png" class="img-fluid" alt="">
                        </div>
                        <div class="swiper-slide"><img src="/static/img/clients/client-2.png" class="img-fluid" alt="">
                        </div>
                        <div class="swiper-slide"><img src="/static/img/clients/client-3.png" class="img-fluid" alt="">
                        </div>
                        <div class="swiper-slide"><img src="/static/img/clients/client-4.png" class="img-fluid" alt="">
                        </div>
                        <div class="swiper-slide"><img src="/static/img/clients/client-5.png" class="img-fluid" alt="">
                        </div>
                        <div class="swiper-slide"><img src="/static/img/clients/client-6.png" class="img-fluid" alt="">
                        </div>
                        <div class="swiper-slide"><img src="/static/img/clients/client-7.png" class="img-fluid" alt="">
                        </div>
                        <div class="swiper-slide"><img src="/static/img/clients/client-8.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Clients Section -->

    </main><!-- End #main -->
{% endblock %}

{% block footer %}

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-info">
                <a href="/" class="logo d-flex align-items-center">
                    <span>Coup De Foudre</span>
                </a>
                <p>{{ msgid['footer_content_left_under'] | safe }}</p>
                {#          <div class="social-links d-flex mt-4">#}
                {#            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>#}
                {#            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>#}
                {#            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>#}
                {#            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>#}
                {#          </div>#}
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4>{{ msgid['useful_links'] | safe }}</h4>
                <ul>
                    <li><a href="/privacy_policy">{{ msgid['privacy_policy'] | safe }}</a></li>
                    <li><a href="#about">{{ msgid['about_title'] | safe }}</a></li>
                    <li><a>{{ msgid['terms_of_service'] | safe }}</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4>MENU</h4>
                <ul>
                    <li><a href="#best-product">{{ msgid['product_title'] | safe }}</a></li>
                    <li><a href="#about">{{ msgid['about_title'] | safe }}</a></li>
                    <li><a href="#contact">{{ msgid['contact_title'] | safe }}</a></li>
                    <li><a href="#clients">{{ msgid['suppliers_title'] | safe }}</a></li>
                    <li><a href="/allergens">{{ msgid['allergenes_title'] | safe }}</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                <h4>{{ msgid['contact_title'] | safe }}</h4>
                <p>
                    {{ msgid['address'] | safe }}<br>
                    <strong>{{ msgid['phone_number'] | safe }}:</strong> 010-4887-8249<br>
                    <strong>{{ msgid['email'] | safe }}:</strong> thorbendhaenenstd@gmail.com<br>
                </p>

            </div>

        </div>
    </div>
{% endblock %}

{% block modalbody %}
    <div class="modal fade" id="modalCheckMembershipPoints" tabindex="-1"
         aria-labelledby="modalCheckMembershipPointsLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"
                        id="modalCheckMembershipPointsLabel">{{ msgid['membership_points_title'] | safe }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"
                            data-bs-dismiss="modal">{{ msgid['ok'] | safe }}</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block endbody %}
    <script>
        $(document).ready(function () {
            $("#contact_form").validate({
                rules: {
                    name: {
                        required: true
                    },
                    email: {
                        required: true,
                        email: true
                    },
                    phone: {
                        required: true
                    },
                    subject: {
                        required: true
                    },
                    message: {
                        required: true
                    }
                },
                messages: {
                    name: {
                        required: '{{ msgid['validation_name_message'] | safe }}'
                    },
                    phone: {
                        required: '{{ msgid['validation_phone_message'] | safe }}'
                    },
                    email: {
                        required: '{{ msgid['validation_email_message'] | safe }}'
                    },
                    subject: {
                        required: '{{ msgid['validation_subject_message'] | safe }}'
                    },
                    message: {
                        required: '{{ msgid['validation_message_message'] | safe }}'
                    }
                },
                errorPlacement: function ($error, $element) {
                    $element.appendTo($element.after($error));
                }
            })

            $('#contact_submit_button').click(function (e) {
                if (!$("#contact_form").valid()) {
                    return false;
                } else {
                    $(document).ajaxStart(function () {
                        $('.loading').fadeIn(100);
                    });
                    $(document).ajaxStop(function () {
                        $('.loading').delay(300).fadeOut(100);
                    });
                    $.ajax({
                        url: '/',
                        type: 'POST',
                        data: $('#contact_form').serialize(),
                        datatype: 'json'
                    })
                        .done(function (data) {
                            $("#name").val('');
                            $("#email").val('');
                            $("#address").val('');
                            $("#phone").val('');
                            $("#subject").val('');
                            $("#message").val('');
                            $('.sent-message').fadeIn(2000).delay(2000).fadeOut(500);
                        })
                        .fail(function (jqXHR, textStatus, errorThrown) {
                            $('.error-message').fadeIn(2000).delay(2000).fadeOut(500);
                        });
                    $.ajaxSetup({
                        beforeSend: function (xhr, settings) {
                            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                                xhr.setRequestHeader("X-CSRFToken", "{{ contact_form.csrf_token._value() }}")
                            }
                        }
                    })

                }
            });
        });

    </script>

{% endblock %}

