{% extends "base.html" %}

{% block nav %}
    {% for menu_item in nav_menu_admin %}
        <li><a href="{{ menu_item }}">{{ nav_menu_admin[menu_item] }}</a></li>
    {% endfor %}
{% endblock %}

{% block body %}

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio sections-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>{{ msgid['large_orders_title'] | safe }}</h2>
            </div>

        </div>
    </section><!-- End Portfolio Section -->

{% endblock %}

