{% extends "base.html" %}
{% block title %}Print Ingredient Order List - {{ msgid['title'] }}{% endblock %}
{% block body %}

    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
            <div class="section-header row gy-4">
                <table class="table table-bordered">
                    <thead>
                    <tr class="text-capitalize">
                        <th scope="col" colspan="31">아이디</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for x in range(25) %}
                    <tr style="line-height: 30px;   min-height: 30px;   height: 30px;">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="col-6">

                    <h4>Ingredients</h4>
                    <table class="table table-bordered">
                        <thead>
                        <tr class="text-capitalize">
                            <th scope="col"></th>
                            {% for col in data_dictionary['ingredients_col'] %}
                                <th scope="col">{{ col | replace("_"," ") }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in data_dictionary['ingredients'][0:data_dictionary['length_ingredients']] %}
                            <tr>
                                <td>
                                    <p><i class="bi bi-square"></i></p>
                                </td>
                                {% for col in row %}
                                    <td>{{ col }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-6">
                    <table class="table table-bordered">
                        <thead>
                        <tr class="text-capitalize">
                            <th scope="col"></th>
                            {% for col in data_dictionary['ingredients_col'] %}
                                <th scope="col">{{ col | replace("_"," ") }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in data_dictionary['ingredients'][data_dictionary['length_ingredients']:] %}
                            <tr>
                                <td>
                                    <p><i class="bi bi-square"></i></p>
                                </td>
                                {% for col in row %}
                                    <td>{{ col }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-6">
                    <h4>Packaging</h4>
                    <table class="table table-bordered">
                        <thead>
                        <tr class="text-capitalize">
                            <th scope="col"></th>
                            {% for col in data_dictionary['packaging_col'] %}
                                <th scope="col">{{ col | replace("_"," ") }}</th>
                            {% endfor %}
                        </tr>

                        </thead>
                        <tbody>
                        {% for row in data_dictionary['packaging'][0:data_dictionary['length_packaging']] %}
                            <tr>
                                <td>
                                    <p><i class="bi bi-square"></i></p>
                                </td>
                                {% for col in row %}
                                    <td>{{ col }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-6">
                    <table class="table table-bordered">
                        <thead>
                        <tr class="text-capitalize">
                            <th scope="col"></th>
                            {% for col in data_dictionary['packaging_col'] %}
                                <th scope="col">{{ col | replace("_"," ") }}</th>
                            {% endfor %}
                        </tr>

                        </thead>
                        <tbody>
                        {% for row in data_dictionary['packaging'][data_dictionary['length_packaging']:] %}
                            <tr>
                                <td>
                                    <p><i class="bi bi-square"></i></p>
                                </td>
                                {% for col in row %}
                                    <td>{{ col }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}





