{% extends "base.html" %}
{% block title %}{{ msgid['product_title'] }} - {{ msgid['title'] }}{% endblock %}
{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsbarcode/3.11.5/JsBarcode.all.min.js"
            integrity="sha512-QEAheCz+x/VkKtxeGoDq6nsGyzTx/0LMINTgQjqZ0h3+NjP+bCsPYz3hn0HnBkGmkIFSr7QcEZT+KyEM7lbLPQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>{% endblock %}
{% block body %}
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero">
        <div class="container position-relative">
            <div class="row gy-5" data-aos="fade-in">
                <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
                    <h2><span>{{ msgid['title_brand'] | safe }} </span></h2>
                    <p></p>
                    <div class="d-flex justify-content-center justify-content-lg-start">
                        <a href="/static/img/map.JPG"
                           class="glightbox btn-watch-video d-flex align-items-center"><i
                                class="bi bi-geo-alt"></i><span>{{ msgid['open_map'] | safe }}</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero Section -->
    <!-- ======= Portfolio Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
            <div class="section-header">

                <h2>{% if chosen_product == "SEARCH" %}{% if preferred_language == 'ko_KR' %}검색{% else %}SEARCH
                {% endif %}
                    {% else %}{% if preferred_language == 'ko_KR' %}{{ chosen_product[2] | safe }}{% else %}
                        {{ chosen_product[1] | safe }}{% endif %}{% endif %}</h2>


            </div>
            <div class="row gy-4">
                <canvas class="barcode" id="barcode"></canvas>
{#                <p>{% if chosen_product != "SEARCH" %}{{ chosen_product | safe }}{% endif %}</p>#}
                <div class="row">
                    {% for allergen in allergen_data[chosen_product[0]] %}
                        <div class="col-sm-6 col-md-3">
                            <h4>{% if preferred_language == 'ko_KR' %}{{ allergens[allergen][1] }}: {% else %}{{ allergens[allergen][0] }}:
                {% endif %}<span>{% if allergen_data[chosen_product[0]][allergen] %}V{% else %}X{% endif %}</span></h4>
                        </div>
                    {% endfor %}
                </div>
            <hr>
                <div class="row">
                    {% for product in origin_per_product %}
                        <div class="col-sm-6 col-md-3">
                            <h4>{% if preferred_language == 'ko_KR' %}{{ product[1] }}: {{ product[3] }} {% else %}{{ product[0] }}: {{ product[2] }} {% endif %}</h4>
                        </div>
                    {% endfor %}
                </div>
                </div>

            </div>
    </section><!-- End Portfolio Section -->{% endblock %}{% block endbody %}
    <script>
        // Generate the barcode

        // Optional: Change barcode options
        JsBarcode("#barcode", "{{ chosen_product[19] }}", {
            format: "CODE128",
            width: 3,
            height: 100,
            displayValue: true
        });
    </script>{% endblock %}