{% extends "base.html" %}

{% block title %}{{ msgid['product_title'] }} - {{ msgid['title'] }}{% endblock %}

{% block body %}

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero">
        <div class="container position-relative">
            <div class="row gy-5" data-aos="fade-in">
                <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
                    <h2><span>{{ msgid['title'] | safe }} </span></h2>
                    <p></p>
                    <div class="d-flex justify-content-center justify-content-lg-start">
                        <a href="/static/img/map.JPG"
                           class="glightbox btn-watch-video d-flex align-items-center"><i
                                class="bi bi-geo-alt"></i><span>{{ msgid['open_map'] | safe }}</span></a>
                    </div>

                </div>
                <div class="col-lg-6 order-1 order-lg-2">
                    {#          <img src="/static/img/croissant.svg" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">#}
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero Section -->
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio sections-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>{{ msgid['product_title'] | safe }}</h2>
                <p>{{ msgid['product_intro'] | safe }}</p>
            </div>

            <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry"
                 data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">

                <div>
                    <ul class="portfolio-flters">
                        <li data-filter="*" class="filter-active">{{ msgid['All'] | safe }}</li>
                        <li data-filter=".filter-app">{{ msgid['Bread'] | safe }}</li>
                        <li data-filter=".filter-product">{{ msgid['Viennoiserie'] | safe }}</li>
                        <li data-filter=".filter-branding">{{ msgid['Patisserie'] | safe }}</li>
                        <li data-filter=".filter-books">{{ msgid['Cookies'] | safe }}</li>
                        <li data-filter=".filter-other">{{ msgid['Other_Products'] | safe }}</li>
                    </ul><!-- End Portfolio Filters -->
                </div>

                <div class="row gy-4 portfolio-container">
                    {% for product in products %}
                        {% if product[6] == 'Bread' and product[7] == True %}
                            <div class="col-xl-4 col-md-6 portfolio-item filter-app ">
                                <div class="portfolio-wrap">
                                    <a href="/static/img/products/{{ product[5] }}"
                                       data-gallery="portfolio-gallery-app"
                                       class="glightbox"><img src="/static/img/products/{{ product[5] }}"
                                                              class="img-fluid"
                                                              alt="{{ product[5] }}"></a>
                                    <div class="portfolio-info">
                                        {% if session["preferred_language"] == 'ko_KR' %}
                                            <h4>{{ product[2] | safe }}</h4>
                                            <p>{{ product[9] | safe }}</p>
                                        {% else %}
                                            <h4>{{ product[1] | safe }}</h4>
                                            <p>{{ product[10] | safe }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div><!-- End Portfolio Item -->

                        {% elif product[6] == 'Pastry' and product[7] == True %}
                            <div class="col-xl-4 col-md-6 portfolio-item filter-product ">
                                <div class="portfolio-wrap">
                                    <a href="/static/img/products/{{ product[5] }}"
                                       data-gallery="portfolio-gallery-app"
                                       class="glightbox"><img src="/static/img/products/{{ product[5] }}"
                                                              class="img-fluid"
                                                              alt="{{ product[5] }}"></a>
                                    <div class="portfolio-info">
                                        {% if session["preferred_language"] == 'ko_KR' %}
                                            <h4>{{ product[2] | safe }}</h4>
                                            <p>{{ product[9] | safe }}</p>
                                        {% else %}
                                            <h4>{{ product[1] | safe }}</h4>
                                            <p>{{ product[10] | safe }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div><!-- End Portfolio Item -->
                        {% elif product[6] == 'Patisserie' and product[7] == True %}
                            <div class="col-xl-4 col-md-6 portfolio-item filter-branding ">
                                <div class="portfolio-wrap">
                                    <a href="/static/img/products/{{ product[5] }}"
                                       data-gallery="portfolio-gallery-app"
                                       class="glightbox"><img
                                            src="/static/img/products/{{ product[5] }}" class="img-fluid"
                                            alt="{{ product[5] | safe }}"></a>
                                    <div class="portfolio-info">
                                        {% if session["preferred_language"] == 'ko_KR' %}
                                            <h4>{{ product[2] | safe }}</h4>
                                            <p>{{ product[9] | safe }}</p>
                                        {% else %}
                                            <h4>{{ product[1] | safe }}</h4>
                                            <p>{{ product[10] | safe }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div><!-- End Portfolio Item -->
                        {% elif product[6] == 'Cookies' and product[7] == True %}
                            <div class="col-xl-4 col-md-6 portfolio-item filter-books ">
                                <div class="portfolio-wrap">
                                    <a href="/static/img/products/{{ product[5] }}"
                                       data-gallery="portfolio-gallery-app"
                                       class="glightbox"><img src="/static/img/products/{{ product[5] }}"
                                                              class="img-fluid" alt="{{ product[5] }}"></a>
                                    <div class="portfolio-info">
                                        {% if session["preferred_language"] == 'ko_KR' %}
                                            <h4>{{ product[2] | safe }}</h4>
                                            <p>{{ product[9] | safe }}</p>
                                        {% else %}
                                            <h4>{{ product[1] | safe }}</h4>
                                            <p>{{ product[10] | safe }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div><!-- End Portfolio Item -->
                        {% elif product[6] == 'Other' and product[7] == True %}
                            <div class="col-xl-4 col-md-6 portfolio-item filter-other ">
                                <div class="portfolio-wrap">
                                    <a href="/static/img/products/{{ product[5] }}"
                                       data-gallery="portfolio-gallery-app"
                                       class="glightbox"><img src="/static/img/products/{{ product[5] }}"
                                                              class="img-fluid" alt="{{ product[5] }}"></a>
                                    <div class="portfolio-info">
                                        {% if session["preferred_language"] == 'ko_KR' %}
                                            <h4>{{ product[2] | safe }}</h4>
                                            <p>{{ product[9] | safe }}</p>
                                        {% else %}
                                            <h4>{{ product[1] | safe }}</h4>
                                            <p>{{ product[10] | safe }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div><!-- End Portfolio Item -->
                        {% endif %}
                    {% endfor %}
                </div><!-- End Portfolio Container -->

            </div>

        </div>
    </section><!-- End Portfolio Section -->

{% endblock %}

{% block footer %}

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-info">
                <a href="/" class="logo d-flex align-items-center">
                    <span>Coup De Foudre</span>
                </a>
                <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita
                    valies
                    darta donna mare fermentum iaculis eu non diam phasellus.</p>
                {#          <div class="social-links d-flex mt-4">#}
                {#            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>#}
                {#            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>#}
                {#            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>#}
                {#            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>#}
                {#          </div>#}
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="/privacy_policy">{{ msgid['privacy_policy'] | safe }}</a></li>
                    <li><a href="#about">{{ msgid['about_title'] | safe }}</a></li>
                    <li><a href="#">{{ msgid['2'] | safe }}Terms of service</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4>{{ msgid['product_title'] | safe }}</h4>
                <ul>
                    <li><a href="#">Eclairs</a></li>
                    <li><a href="#">Macarons</a></li>
                    <li><a href="#">Vienoisserie</a></li>
                    <li><a href="#">Bread</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                <h4>Contact Us</h4>
                <p>
                    {{ msgid['address'] | safe }}<br>
                    <strong>{{ msgid['phone_number'] | safe }}:</strong> 010-4887-8249<br>
                    <strong>{{ msgid['email'] | safe }}:</strong> thorbendhaenenstd@gmail.com<br>
                </p>

            </div>

        </div>
    </div>
{% endblock %}
